<div class="page">

<div class="content">
    <div class="tarjeta">

        <p class="tarjeta__titulo">
            App FULL-STACK MongoDB
        </p>

        <div class="tarjeta__imagen tarjeta__imagen--mongo"></div>

        <p class="tarjeta__contenido">Nodejs - Express - Mongoose - HTML - CSS</p>

        <div class="tarjeta__botones">
            <button mat-raised-button color="accent">Ver en GitHub</button>
            <button mat-raised-button color="primary">Ver como funciona</button>
        </div>

    </div>

    <div class="tarjeta">
    
        <p class="tarjeta__titulo">
            App FULL-STACK MySQL
        </p>
    
        <div class="tarjeta__imagen tarjeta__imagen--mysql"></div>
    
        <p class="tarjeta__contenido">Nodejs - Express - Mysql2 - HTML - CSS</p>
    
        <div class="tarjeta__botones">
            <button mat-raised-button color="accent">Ver en GitHub</button>
            <button mat-raised-button color="primary">Ver como funciona</button>
        </div>
    
    </div>

    <div class="tarjeta">
    
        <p class="tarjeta__titulo">
            Videoteca
        </p>
    
        <div class="tarjeta__imagen tarjeta__imagen--videoteca"></div>
    
        <p class="tarjeta__contenido">HTML - CSS - Bootstap - JQuery</p>
    
        <div class="tarjeta__botones">
            <button mat-raised-button color="accent">Ver en GitHub</button>
            <button mat-raised-button color="primary">Ver como funciona</button>
        </div>
    
    </div>

</div>

</div>