.header{
    height: 70vh;
    width: 100%;
    
}


.nav__main{
    position: relative;
    display: flex;
    flex-direction: column;

    justify-content: space-between;
    width: 100%;
    height:  100%;

    background: url(../../../assets/img/header.svg);
    background-size: cover;
    background-position: center;

}
.nav__main svg{
    position: absolute;
    width: 100%;
    height: 100%;

}
#electron1, #electron2, #electron3{
    animation: 4s rotate ease-out 1;
    transform-origin: 50% 70%;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 300px;
    height:  300px;

    border-radius: 50%;

    background: var(--background-color) ;
}
.logo img{
    width: 90%;
    opacity: 0.5;
}

.row1{
    display: flex;
    justify-content: space-around;
    align-items: center ;
    justify-content: center;
    width: 100%;
    height: 65%;

    /* border: 1px solid yellow; */

}
.row2{
    display: flex;
    justify-content: space-around;
    align-items: center ;
    width: 100%;
    height: 10%;

    font-size: 24px;
    border: 1px solid transparent;

    /* border: 1px solid yellow; */
}

.row3{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    width: 100%;
    height: 10%;
    border: 1px solid transparent;

    transform: translateY(-5px);
}

.tabs{
    width: 66vw;
    transform: scale(1.5) translateY(-.5vmin);
}

.nav__logo{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 30%;

    /* border: 1px solid yellow; */

}.nav__display{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 80%;
    
}
.display__title{
    /* border: 2px solid blue; */
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: fit-content;

    font-size: 2rem;

}

.display__title::before {
    content: "";
    display: block;

    position: absolute;
  top: vmin;
  left: 21%;

  width: 56%;
  height:300%;

  border-radius: 50%;
  border: 1.3vmin solid #fff0;

  box-shadow: 0vmin 0vmin 2vmin currentColor;

  box-sizing: border-box;

  opacity:0.5;
}

em {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 20vmin;

    font-size: 20vmin;
    font-style: normal;
    color: currentColor;
    text-align: center;
    /* mix-blend-mode: screen; */
}

em.circle::before {
  content: "";
  position: absolute;
  top: -3vmin;
  /* left: vmin; */

  width: 13vmin;
  height: 13vmin;

  border-radius: 50%;
  box-shadow: 0px 0px 2vmin white;

  backdrop-filter: blur(3px);

  background: #fff0;
}
.display-trigger{
    z-index: 1;
}
.display-trigger:hover{
    color: var(--accent-color)
}
em.circle {
  -webkit-animation: orbite 4s linear infinite;
  animation: orbite 7s 1s ease-in-out infinite;
  position: relative;
  color: transparent;
}

em.circle.circle--left {
    -webkit-transform-origin: 68vmin;
  transform-origin: 68vmin ;

}em.circle.circle--right {
    left:4vmin;

    -webkit-transform-origin: -55vmin;
  transform-origin: -55vmin;
}
ng-particles{
    position: absolute;
    z-index: 1;
}

@keyframes rotate {
    to {
        transform: rotate(1turn);
    }
}