<header class="header">

    <nav class="nav nav__main">

         <div class="row1">

            <div class="nav__data">

                
                <div class="nav__data--display">
                    <div class="portada">

                        <div class="logo"></div>

                        <!-- <div class="portada__titulo--wrapper">
                            <span class="portada__titulo">
                                <p>Daniel</p>
                                <span class="portada__subtitulo">Vazquez</span>
                            </span>
                            
                        </div> 
    
                        <div class="portada__contenido">

                            <p>
                                Full stack developer <br>
                                nacido en Madrid en Octubre de 1994, <br>
                                Interesado en colaborar en proyectos web<br>
                            </p>
                            
                            <div class="portada__contenido_butons">
                                <button mat-raised-button color="accent">Ver curriculum</button>
                                <button mat-raised-button color="primary" (click)="showSection(1)">Contacta conmigo </button>
                            </div>

                           
                        </div> -->
                    </div>

                </div>
            </div>



            <div class="nav__display">
                
                <p class="display__title">Atomic code</p>
            
                <div></div>
            </div>
         
        </div>


         <div class="row2">
             <span> HTML & CSS</span>
             <span> Node</span>
            <span> Javascript</span>
            <span> Angular</span>
            <span> MySQL & MongoDB</span>
         </div>

         <div class="row3">
            <mat-tab-group mat-align-tabs="center" class="tabs" (selectedIndexChange)="showSection($event)">
                <mat-tab label="Sobre mi"></mat-tab>
                <mat-tab label="Mi trabajo"></mat-tab>
                <mat-tab label="Contacto"></mat-tab>
            </mat-tab-group>
         </div>
    </nav>
  
</header>