<header class="header">

    <nav class="nav nav__main">

         <div class="row1">

            <div class="nav__logo">

                <div class="logo">
                    <img src="../../assets/img/logo-pink-cyan.svg">
                </div>
                
            </div>

                
                <p class="display__title">
                    <em>A</em>
                    <em>t</em>
                    <em class="circle circle--left">o</em>
                    <em>m</em>
                    <em>i</em>
                    <em>c</em>
                    <em>&nbsp;</em>
                    <em>C</em>
                    <em class="circle circle--right">o</em>
                    <em>d</em>
                    <em>e</em>
                </p>
            </div>
         


         <div class="row2">
            <span class="display-trigger"> HTML & CSS</span>
            <span class="display-trigger"> Node</span>
            <span class="display-trigger"> Javascript</span>
            <span class="display-trigger"> Angular</span>
            <span class="display-trigger"> MySQL & MongoDB</span>
         </div>

         <div class="row3">
            <mat-tab-group mat-align-tabs="center" class="tabs" (selectedIndexChange)="showSection($event)">
                <mat-tab label="Sobre mi"></mat-tab>
                <mat-tab label="Mi trabajo"></mat-tab>
                <mat-tab label="Contacto"></mat-tab>
            </mat-tab-group>
         </div>
    </nav>
  
</header>