<header class="header">

    <nav class="nav nav__main">

         <div class="row1">

            <div class="nav__data">

                
                <div class="nav__data--display">
                    <div class="portada">

                        <div class="portada__titulo--wrapper">
                            <span class="portada__titulo">Daniel</span>
                            <span class="portada__subtitulo">Vazquez</span>
                        </div> 
    
                        <div class="portada__contenido">
                            Full stack developer <br>
                            nacido en Madrid en Octubre de 1994, <br>
                            Interesado en colaborar en proyectos web<br>
                            
                            <div class="portada__contenido_butons">
                                <button mat-raised-button color="primary">Contacta conmigo </button>
                                <button mat-raised-button color="primary">Ver mi CV</button>
                            </div>

                           
                        </div>
                    </div>

                </div>
            </div>



            <div class="nav__display">
                
                <p class="display__title">Atomic code</p>
            
                <div class="logo"></div>
            </div>
         
        </div>


         <div class="row2">
             <span> HTML & CSS</span>
             <span> Node</span>
            <span> Javascript</span>
            <span> Angular</span>
            <span> MySQL & MongoDB</span>
         </div>

         <div class="row3">
            <mat-tab-group mat-align-tabs="center" class="tabs">
                <mat-tab label="First"></mat-tab>
                <mat-tab label="Second"></mat-tab>
                <mat-tab label="Third"></mat-tab>
              </mat-tab-group>
         </div>

         <div class="background">
        
         </div>

    </nav>
  
</header>