.header{
    height: 70vh;
    width: 100%;
    
}
.header::before{
    content: "";
    background: linear-gradient(to right, var(--accent-color), aqua, var(--accent-color));
    height: 70vh;
    width: 70vh;

    position: absolute;
    top:-10vmin;
    left:35%;
    box-shadow:
        0vmin -25vmin 5vmin aqua,
        15vmin -10vmin 10vmin var(--accent-color),
        -20vmin -10vmin 5vmin var(--accent-color),
        0vmin 15vmin 20vmin aqua;

    border-radius: 50%;

    mix-blend-mode: color;

    z-index:5;

}

.nav__main{
    display: flex;
    flex-direction: column;

    justify-content: space-between;
    width: 100%;
    height:  100%;

    background: url(../../../assets/img/fondo.svg);

}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 300px;
    height:  300px;

    border-radius: 50%;

    background: var(--background-color) ;
}
.logo img{
    width: 90%;
    opacity: 0.5;
}

.row1{
    display: flex;
    justify-content: space-around;
    align-items: center ;
    justify-content: center;
    width: 100%;
    height: 65%;

    /* border: 1px solid yellow; */

}
.row2{
    display: flex;
    justify-content: space-around;
    align-items: center ;
    width: 100%;
    height: 10%;

    font-size: 24px;
    border: 1px solid transparent;

    /* border: 1px solid yellow; */
}

.row3{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    width: 100%;
    height: 10%;
    border: 1px solid transparent;

    transform: translateY(-5px);
}

.tabs{
    width: 66vw;
    transform: scale(1.5) translateY(-.5vmin);
    z-index: 9;
}

.nav__logo{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 30%;

    /* border: 1px solid yellow; */

}.nav__display{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 80%;
    
}
.display__title{
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 100%;

    font-size: 22vmin;

}

.display__title::before {
    content: "";
    display: block;

    position: absolute;
  top: vmin;
  left: 40vmin;

  width: 100vmin;
  height: 100vmin;

  border-radius: 50%;
  border: 1.3vmin solid #fff0;

  box-shadow: 0vmin 0vmin 2vmin currentColor;

  box-sizing: border-box;
  z-index: 0;

}

em {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 20vmin;

    font-size: 20vmin;
    font-style: normal;
    color: currentColor;
    text-align: center;


    /* mix-blend-mode: screen; */
}

em.circle::before {
  content: "";
  position: absolute;
  top: -3vmin;
  left: vmin;

  width: 13vmin;
  height: 13vmin;

  border-radius: 50%;
  box-shadow: 0px 0px 2vmin white;

  backdrop-filter: blur(3px);

  z-index: 0;
  background: #fff0;
}
.display-trigger:hover{
    color: var(--accent-color)
}
em.circle {
  -webkit-animation: orbite 4s linear infinite;
  animation: orbite 5s ease-in-out infinite;
  position: relative;
  color: transparent;
}

em.circle.circle--left {
    -webkit-transform-origin: 55vmin;
  transform-origin: 55vmin ;

}em.circle.circle--right {
    -webkit-transform-origin: -42vmin;
  transform-origin: -42vmin;
}
@media screen and (min-width: 1700px) {

    .display__title::before {
    
      left: 40vmin;
    
      width: 110vmin;
      height: 110vmin;
    
    }

    em.circle.circle--left {
        -webkit-transform-origin: 60vmin;
        transform-origin: 60vmin ;

    }em.circle.circle--right {
        -webkit-transform-origin: vmin;
        transform-origin: -45vmin;
    }
}@media screen and (min-width: 1420px) {

    .display__title::before {
    
      left: 40vmin;
    
      width: 100vmin;
      height: 100vmin;
    
    }

    em.circle.circle--left {
        -webkit-transform-origin: 58vmin;
        transform-origin: 58vmin ;

    }em.circle.circle--right {
        -webkit-transform-origin: -43vmin;
        transform-origin: -43vmin;
    }
}

@keyframes orbite {
  to {
    transform: rotate(1turn);
  }
}