.header{
    height: 70vh;
}
.header::before{
    content: "";
    background: linear-gradient(to right, fuchsia, aqua, fuchsia);
    height: 70vh;
    width: 70vh;

    position: absolute;
    top:0;
    left:35%;
    box-shadow: 
        0vmin -20vmin 5vmin aqua,
        15vmin -10vmin 7vmin fuchsia,
        -15vmin -10vmin 5vmin fuchsia,
        0vmin 15vmin 5vmin aqua;

    border-radius: 50%;

    mix-blend-mode: color;
    z-index:2;

    transform: translateY(-10vmin);

}

.nav__main{
    display: flex;
    flex-direction: column;

    justify-content: space-between;
    width: 100%;
    height:  100%;

    background: url(../../../assets/img/fondo.svg);
    

}

.portada{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;

    position: absolute;

    width: 85%;
    height: 70%;

    padding: 2%;

    align-self: flex-start
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 300px;
    height:  300px;

    border-radius: 50%;

    background: var(--background-color) ;
}
.logo img{
    width: 90%;
    opacity: 0.5;
}

.row1{
    display: flex;
    justify-content: space-around;
    align-items: center ;
    justify-content: center;
    width: 100%;
    height: 65%;
    
    /* border: 1px solid yellow; */
    
}
.row2{
    display: flex;
    justify-content: space-around;
    align-items: center ;
    width: 100%;
    height: 10%;

    font-size: 24px;
    border: 1px solid transparent;

    /* border: 1px solid yellow; */
}

.row3{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    width: 100%;
    height: 10%;
    border: 1px solid transparent;

    transform: translateY(-5px);   
}

.tabs{
    width: 66vw;
    transform: scale(1.5) translateY(-.5vmin);
    z-index: 6 !important;

}
mat-tab{
    z-index: 6 !important;
}

.nav__logo{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 30%;

    /* border: 1px solid yellow; */

}.nav__display{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 70%;
}

.portada__titulo{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    font-size: 72px;
    width: 100%;
    height: 40%;
}
.portada__subtitulo{
    color: var(--accent-color);
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;

    justify-content: flex-end;

    font-size: 40px;
}.portada__contenido{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    font-size: 16px;
    width: 100%;
    height: 100%;

}
.portada__contenido p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80%;
}
.portada__titulo--wrapper{
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    width: 100%;
    height: 80%;
}
.display__title{
    position: relative;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 100%;
    width: 100%;
    
    font-size: 22vmin;  
}

.display__title::before {
    content: "";
    display: block;

    position: absolute;
  top: vmin;
  left: 35vmin;

  width: 95vmin;
  height: 95vmin;

  border-radius: 50%;
  border: 1.3vmin solid #fff0;

  box-shadow: 0vmin 0vmin 2vmin currentColor;

  box-sizing: border-box;
}

em {
    position: relative;
    width: 20vmin;

    font-size: 20vmin;
    font-style: normal;
    color: currentColor;
    text-align: center;

    /* mix-blend-mode: screen; */
    
}

em.circle::before {
  content: "";
  position: absolute;
  top: -3vmin;
  left: .5vmin;
  
  width: 13vmin;
  height: 13vmin;

  border-radius: 50%;
  box-shadow: 0px 0px 2vmin white;

  backdrop-filter: blur(3px);

  background: #fff0;
}
.display-trigger:hover{
    color: var(--accent-color)
}
em.circle {
  -webkit-animation: orbite 4s linear infinite;
  animation: orbite 7s linear infinite;
  position: relative;
  color: transparent;
}

em.circle.circle--left {
    -webkit-transform-origin: 50vmin 5vmin;
  transform-origin: 55vmin 5vmin;

}em.circle.circle--right {
    -webkit-transform-origin: vmin 5vmin;
  transform-origin: -38vmin 3vmin;
}

@keyframes orbite {
  to {
    transform: rotate(1turn);
  }
}