<div class="page">
    <div class="row">
        <div class="foto">
            <img src="../../../assets/img/IMG_4313.JPEG" alt="">
        </div>
    </div>

    <div class="row">
        <h1 class="titulo">Daniel<span class="titulo--accent">Vazquez</span></h1>
    </div>

    <div class="row">
        <div class="info">
            Nacido en Madrid en Octubre de 1994, mi pasion por la informatica
            comienza desde la infancia, desde la primera linea de codigo me enamore
            de este mundo en el que cada dia crezco y me supero.
        </div>
    </div>

</div>
