<div class="page">
    <div class="col" data-aos="fade-down">
        <div class="foto" >
            <img src="../../../assets/img/IMG_4313.JPEG">
        </div>
    </div>

    <div class="col col__info">
        <p class="page__titulo" data-aos="zoom-out">Daniel<span class="page__titulo--accent">Vazquez</span></p>

        <div class="info" data-aos="zoom-out">
            Nacido en Madrid en Octubre de 1994, mi pasión por la informática
            comienza desde la infancia, desde la primera línea de codigo me enamoré
            de este mundo en el que cada dia crezco y me supero.
        </div>
    </div>

</div>
