.page{
    display: flex;
    /* flex-direction: column; */

    justify-content: flex-start;
    align-items: center;

    padding: 10vmin 5vmin;

    gap: 30px;
}

.col{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    gap: 2%
}

.foto{
    display: flex;
    justify-content: center;

    background: var(--background-color);
    height: 400px;
    width: 400px;
    
    border-radius: 5px;

    clip-path: circle(50% at 50% 50%);
}

.foto img {
    clip-path: circle(40% at 50% 50%);

    transform: scale(1.2);
}

.page__titulo{
    height: 100px;
}
.info{
    width: 100%;

    font-size: 32px;
    line-height: 120%;
    text-align: center;
}