<div class="page">
    <div class="col" data-aos="fade-down">
        <div class="foto" >
            <img src="../../../assets/img/IMG_4313.JPEG">
        </div>
    </div>

    <div class="col" data-aos="zoom-out">
        <p class="page__titulo">Daniel<span class="page__titulo--accent">Vazquez</span></p>

        <div class="info">
            Nacido en Madrid en Octubre de 1994, mi pasión por la informática
            comienza desde la infancia, desde la primera linea de codigo me enamore
            de este mundo en el que cada dia crezco y me supero.
        </div>
    </div>

</div>
