.content{
    display: flex;
    flex-direction: column;

    justify-content: flex-start;
    align-items: center;

    gap: 30px;
}

form{
    display: flex;
    flex-direction: column;
    width: 30%;
}


textarea{
    min-height: 200px;
}